<?xml version="1.0"?>
<configuration>
  
  <appSettings>
    <!-- MAIL CONF DATA -->
    <add key="SMTP" value="server.muttley.com.ar"/>
    <add key="SMTPPort" value="2525"/>
    <add key="EnableSSL" value="false"/>
    <add key="UseDefaultCredentials" value="false"/>
    <add key="User" value="informes@observatoriosanjose.com.ar"/>
    <add key="Domain" value="observatoriosanjose.com.ar"/>
    <add key="FromAddress" value="informes@observatoriosanjose.com.ar"/>
    <add key="ToAddress" value="paulofer85@gmail.com"/>
    <add key="Password" value="padrepommes"/>
    <add key="DeliveryMethod" value="SmtpDeliveryMethod.NetworkToAddress"/>

    <!-- SVC CONF DATA -->
    <add key="TimeInterval" value="300000"/>
  </appSettings>
  
  <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/></startup>
</configuration>
